<div class="container3">
  <div class="title-container">
    <p><%= @flat.room_type.name %></p>
    <h2> <%= @flat.title %> </h2>
  </div>
  <%= render "shared/modal_login" %>
  <div class="photo" style="background-image: url('<%= cl_image_path @flat.photo %>')">
    <% if policy(@flat).edit? %>
      <%= link_to edit_flat_path do %>
        <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
    <% if policy(@flat).destroy? %>
      <%= link_to flat_path(@flat), method: :delete, data: { confirm: "This will remove your flat, are you sure?" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container4">
  <p id="flat-description"> <%= @flat.description %></p>
  <p> <%= @user.email %></p>
</div>
