<div class="container">
  <div class="background-image">
  <h3>Book unique homes and experiences all over the world.</h3>
    <div class="love">
      <p>Made with <i class="fas fa-heart"></i> by Francisco Barreto</p>
    </div>
  </div>
  <%= render "shared/modal_login" %>
  <div class="pickerbox">
    <h3>Book unique homes and<br>experiences all over the world.</h3>
    <%= render "shared/new_booking" %>
    <%= form_tag flats_path, method: :get, :class => 'form' do |f| %>
      <%= text_field_tag :near, nil, placeholder: "Where" %>
      <%= submit_tag "Search", class: "submit" %>
    <% end %>
  </div>
</div>
